@use 'sass:math';

.footer {
    background-color: $grisOscuro;
    padding: math.div( $separacion, 2) 0;
    margin-bottom: 0;

    .navegacion {
        visibility: visible;
        opacity: 1;
    }
}

.contenedor-footer {
    padding-top: math.div( $separacion, 2);
}

.copyright {
    color: $blanco;
    text-align: center;
}